 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

.btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
}

 .btn2{
    color: #808080;
     
 }
 .btn2:hover{
  padding: 5px;
  color: black;
   background-color: #808080;
  border-radius: 50%;
 }

.nav_element{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

input{
  outline: none;
  border: 1.2px solid #808080;
  color: #808080;
  background-color: transparent;
  padding: 5px;
  border-radius: 7px;
  margin: 7px;
}

.btn3{
  cursor: pointer;
  padding: 4px;
  border-radius: 8px;
  border: 1px solid aliceblue;
  outline: none;
  background-color: #222;
  color: aliceblue;
  width: 60px;
  transition: .4s ease-in-out;
}

.btn3:hover{
  background-color: #333;
}


.tab-btn{
  padding: 5px;
  margin: 15px;
  width: 70px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.tab-active{
  background-color: rgb(77, 77, 192);
}

.result {
  padding: 10px;
}


.media-container {
  display: grid;  
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  align-items: center;
}


.media {
  margin: 4px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

 


.continer{
  position: relative;
  display: inline-block;
}

.dowload{
   position: absolute;
   font-size: 10px;
   left: 10px;
   top: 82%;
   border-radius: 9px;
   border: 1.5px solid black;
   cursor: pointer;
   background-color: transparent;
   color: aliceblue;
   padding: 5px;
   transition: 0.3s ease-in-out;
   opacity: 0;
}

.continer:hover .dowload{
  opacity: 1;
}

@media (max-width: 900px) {
  .media {
    height: 180px;
    width: 180px;
  }
}

@media (max-width: 600px) {
  .media {
    height: 160px;
    width: 160px;
  }
  .dowload{
    top: 78%;
  }
}